@use 'variaveis';
@use 'hero';

* {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    box-sizing: border-box;
}

html,
body {
    background-color: variaveis.$corDeFundo;
    min-height: 100vh;
    height: 1244px;
    overflow-x: hidden;
    width: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

@mixin text ($fontSize: 30px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize: 50px) {
    @include text($fontSize);
    font-weight: bold;
    color: variaveis.$corTextoPrincipal;
}

.text--names {
    @include text(30px);
    font-weight: bold;
}

.text--light {
    @include text;
    font-weight: light;
}

.text--small {
    @include text(20px);
    font-weight: medium;
}


@media (max-width: 767px) {
    html,
    body {
        background-color: #0c0d1a;
        min-height: 100vh;
        height: auto;
        overflow-x: hidden;
        width: 100%;
    }


    .footer__content {
        max-width: 100vw;
        position: relative;
        margin-top: 60%;
        background-color: #0c0d1a;
        font-family: Archivo, sans-serif;
        text-align: center;


        &__tabs {
            max-width: 90vw;
            margin-left: 18px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            list-style: none;
            text-transform: uppercase;
            text-align: center;

            &__item {
                margin-top: 54px;
                border-bottom: transparent;
                padding-bottom: 12px;
                border-right: transparent;

                &--link {
                    text-decoration: none;
                    color: variaveis.$corTextoPrincipal;
                    font-size: 18px;
                }
            }
        }

        h6 {
            margin-top: 60px;
            font-size: 10px;
            color: variaveis.$corTextoPrincipal;
            font-style: italic;
            font-weight: 400;
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    html,
    body {
        background-color: #0c0d1a;
        min-height: 100vh;
        overflow-x: hidden;
        width: 100%;
    }

    .footer__content {

        h6 {
            margin-top: 120px;
            margin-top: 40px;
            font-size: 20px;
            color: variaveis.$corTextoPrincipal;
            font-style: italic;
            font-weight: 100;
        }
    }
}

@media (min-width: 1024px) and (max-width: 1366px) {
    html,
    body {
        background-color: #0c0d1a;
        min-height: 100vh;
        overflow-x: hidden;
        width: 100%;
    }
}
